<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">

    <div layout:fragment="siteContent">
        <div class="row">
            <div class="col-9 mx-auto">
                <form th:action="@{'/add-student'}" th:method="post">
                    <div class="row">
                        <div class="col-12">
                            <label>NAME:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="name" placeholder="Insert name:" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>SURNAME:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="surname" placeholder="Insert surname:" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>EXAM:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="exam" placeholder="Insert exam:" required>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <button class="btn btn-success">ADD STUDENT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</html>